.jumbotron {
  text-align: center;
  background-color: white;
  margin: 10px auto;
  border-radius: 5px;
  width: 80%;
}

.form-group {
  margin: 5px;
}

.form-control {
  height: 1.7rem;
  align-self: center;
  border-radius: 5px;
}

.inputs {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  padding: 5px;
}

.button {
  margin-left: 15px;
}