<link rel="stylesheet" href="../static/css/login.css">
{% extends "base.html" %}
{% block content %}
<h1 class="jumbotron">Login</h1>
<form class="form-group" method="POST">
  <div class="inputs">
    {{form.hidden_tag()}}
    {{form.email.label (class='form-group')}}{{form.email (class='form-control')}}<br>
    {{form.password.label (class='form-group')}}{{form.password (class='form-control')}}<br>
  </div>
  <div class="button">
    {{form.submit(class='btn btn-primary')}}
  </div>
</form>
{% endblock %}